/* Grace Cunningham 11/26/24 */

* {
    background-color: lightgray;
}

.wrapper {
    display: flex;
}

input {
    margin: 10px;
}

button {
    height: 30px;
    margin: 10px;
    background-color: black;
    color: white;
}

.maths {
    padding: 0px 10px 0px 60px; 
}
